*{
    margin: 0;
    padding: 0;
}

.logo h1{
    font-size: 2.8rem;
    justify-content: center;
    color: #ffffff;
    padding: 12px;
}

h1{
    background-color: #E65A34;
    color: #383cff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
}

.choice{
    height: 89px;
    width: 93px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: rebeccapurple;
}

img{
    height: 87px;
    width: 87px;   
    object-fit: cover;
    border-radius: 50%;
}


.score-board,.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px; 
}

.score-board{
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 1rem;
}

#msg{
    background-color: #4a4b49bb;
    color: white;
    line-height: 2rem;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 39px;
    background-color: #9830ff;
}



/* Tablet screen */
@media screen and (max-width: 768px) {
    
    h1{
        background-color: #4a4b49bb;
        color: black;
    }

}


/* Mobile Large screen */
@media screen and (max-width: 425px) {
    
    h1{
        background-color: #4a4b49bb;
        color: black;
    }

}
 
 